av==14.2.0
dlib==19.24.9
ffmpeg-python==0.2.0
hydra-core==1.0.0
librosa==0.11.0
matplotlib==3.10.0
mediapipe==0.10.21
omegaconf==2.1.2
opencv-python==4.10.0.84
pandas==2.2.3
pydub==0.25.1
pysndfx==0.3.6
python-speech-features==0.6
scikit-image==0.25.2
scikit-learn==1.6.0
speechbrain==1.0.3
tqdm==4.67.1
transformers==4.48.3
yt-dlp==2025.11.12 